{% extends 'blog/base.html' %} {% block content %}
<h2>{{ author.name }}</h2>
<img src="{{ author.photo_url }}" alt="" class="author-photo" />
<h3>{{ author.location }}</h3>
<button type="button" class="btn btn-info"><a href="{% url 'author_edit' pk=author.pk %}">Update Info</a></button>
<button type="button" class="btn btn-info"><a href="{% url 'blog_form' pk=author.pk %}">Add a new blog post</a></button>
<ul>
    {% for blog in author.blogs.all %}
    <li>
      <a href="{% url 'blog_detail' pk=blog.pk %}"
        >{{ blog.title }}</a
      >
    </li>
    {% endfor %}
  </ul>
{% endblock %}